/* 
 * Basic Font Styles
 */
header,nav,main,footer,aside,div {
  font: "Courier New", Courier, monospace;
  white-space: inherit;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 1em;
}

/* 
 * Flexbox and Grid
 */
header {display:flex;gap:10px;}
nav {grid-area: nav;}
main {grid-area: main;}
footer {grid-area: footer;}
aside {grid-area: aside;}

/* Mobile-First Layout */
.grid-parent {
  display: grid;
  grid-gap: 15px;
  grid-template-areas: 
      "nav nav nav nav nav"
      "main main main main main"
      "aside aside footer footer footer";
}

/* Larger-Screen Layout */
@media screen and (min-width: 810px) {
  .grid-parent {
    grid-template-areas: 
      "nav main main main aside"
      "footer footer footer footer footer";
  }
  nav,main,aside {height:100%;}
  aside { width: 200px;}
}

/* 
 * Layout Differentiation
 */
header,footer {margin:5px;padding:15px;}
nav,main,aside {margin:5px;padding:15px;}
nav {background:#7fff00;}
main {background:#f0e68c;}
aside {background:#4682b4;}
header {background:#ff8c00;}
footer#contentinfo {background:#ffb6c1;}

/* Skip Link */
a.skip-to-link {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
}
a.skip-to-link:focus {
  color: black;
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
}

/* Other Styles */
abbr {cursor: help;}